.task_num{
	text-decoration: double underline;
	font-size: 120%;
	padding-top: 5px;
}

.task_num i{
	font-size: 85%;
	text-decoration: none;
}

.task1 li{
	list-style-type: upper-alpha;
}

.task{
	border: solid black 2px;
	border-top: solid #96804D 20px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-bottom: 30px;
	padding-left: 5px;
	padding-bottom: 10px;
	position: relative;
	top: -50px;
	box-shadow: 5px 5px 10px #96804D;
}

#task1A li, #task1B li, #task1C li{
	display: inline;
}

#task1A li:hover, #task1B li:hover, #task1C li:hover{
	font-size: 120%;
	font-weight: bold;
}

#solution_1_tab {
	display: none;
	width: 360px;
	height: 160px;
	position: absolute;
	top: 0px;
	left: 60.5%;
	background: #96804D;
	opacity: 0.9;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 10px;
}

#solution_1_button{
	margin-top: 15px;
	margin-bottom: 20px;
	position: relative;
	left: 420px;
	top: 8px;
}

#empty_text{
	font-style: italic;
	background: #96804D;
	opacity: 0.9;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 5px;
	width: 98%;
}

#answer1, #answer2, #answer3, #answer4, #answer5, #answer6{
	display: inline;
	font-weight: bold;
}

#buttons_2_task{
	margin-top: 45px;
	margin-bottom: 10px;
	text-align: center;
}

#task_canvas{
	margin-bottom: 10px;
}

#task3{
	border-right: solid black 2px;
	padding-right: 5px;
}

#task4{
	padding-left: 10px;
	position: relative;
	top: -50px;
}

#d{
	width: 80%;
	position: relative;
	left: 10%;
}

#m{
	position: relative;
	left: 0.05%;
	width: 80%;
}

#buttons{
	display: inline;
}

.footer{
	margin-top: 2em;
	margin-left: 6em;
	padding-left: 1em;
	padding-right: 1em;
}

#table_footer td{
	border-left: dotted black 2px;
	border-right: dotted black 2px;
	padding-left: 1em;
	padding-right: 1em;
}

#table_footer #year{
	border-left: none;
	border-right: none;
}



